	<section id="fh5co-intro">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				{{ range .Site.Params.intro.item }}
				<div class="fh5co-block to-animate" style="background-image: url(/images/intro/{{ .img }});">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
            {{ $pathToIcon := .icon | printf "%s%s" "icons/" | printf "%s.svg" }}
						<span class="fh5co-intro-icon">
              {{ partial $pathToIcon }}
            </span>
						<h2>{{ .title }}</h2>
						<p>{{ .description | safeHTML }}</p>
						<p><a url="#" data-nav-section="{{ .url }}" class="btn btn-primary">{{ .button}}</a></p>
					</div>
				</div>
				{{ end }}
			</div>
		</div>
	</section>
